---
import Layout from "../layouts/Layout.astro";
const pageTitle = "404";
---
<Layout pageTitle={pageTitle}>
    <article class="prose">
        <p class="profile__eyebrow">Not found</p>
        <h1>{pageTitle}</h1>
        <p>It seems like you&rsquo;ve wandered into the wrong forest.</p>
        <p>
            <a href="/">Return home</a>
        </p>
    </article>
</Layout>
