---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getEntrySlug } from "../utils/content";
const books = await getCollection("books");
const pageTitle = "Book Recommendations";
---
<Layout pageTitle={pageTitle}>
    <section>
        <p class="profile__eyebrow">Reading</p>
        <h1>Book recommendations</h1>
        <ul role="list" class="post-list">
            {books.map((card) => (
                <Card
                    url={`/books/${getEntrySlug(card)}/`}
                    title={card.data.title}
                    body={card.data.description}
                />
            ))}
    </ul>
    </section>
</Layout>
