---
interface Props {
    url: string;
    title: string;
    date: string;
}

const { url, title, date } = Astro.props;
---

<li class="post-list__item">
    <a class="post-list__link" href={url}>
        <h2>{title}</h2>
        <time datetime={date}>{new Date(date).toLocaleDateString("en-GB", { year: "numeric", month: "short", day: "numeric" })}</time>
    </a>
</li>
