---
interface Props {
    url: string;
    title: string;
    body: string;
}

const { url, title, body } = Astro.props;
---

<li class="post-list__item">
    <a class="post-list__link" href={url}>
        <h2>{title}</h2>
        <span>{body}</span>
    </a>
</li>
