---
import ThemeIcon from "./ThemeIcon.astro";
---
<div class="nav">
    <a class="nav__brand" href="/">Dark Peak Development</a>
    <div class="nav__links">
        <a href="/posts/">Posts</a>
        <a href="https://github.com/andy-c-jones" target="_blank" rel="noreferrer">GitHub</a>
        <ThemeIcon />
    </div>
</div>
